.carrito {
    min-height: 70vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.table__product {
    display: flex;
}

.table__product > img {
    width: 8rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
}

.table__cantidad > input {
    width: 40px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
}

.hide{
    display: none;
}

.remove{
    display: none;
}