.carrito {
    min-height: 70vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.table__product {
    display: flex;
}

.table__product > img {
    width: 8rem;
    object-fit: contain;
    border-radius: 6px;
}

.table__cantidad > input {
    width: 30px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 0px;
    margin-bottom: 0px;
}

.hide{
    display: none;
}

.remove{
    display: none;
}

.btn:hover{
    transition: transform 0.3s;
    transform: scale(1.05);
}

.navbar-brand{
    transition: transform 1.0s;
}

.navbar-brand:hover{
    transform: scale(1.2);
}

.navbar, .card, .table__product {
    font-family: Unbounded, cursive;
}

h2 {
    font-family: Unbounded, cursive;
}

.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all 2s;
}

.card div{
    overflow: hidden;
}

.card:hover img{
    transform: scale(1.4);
}