// sombras //

$enable-shadows: true;

//gradient//

$enable-gradients: true;

$btn-padding-y:               1rem;
$btn-padding-x:               1.0rem;

$btn-border-radius:           1rem;

@import "../libs/bootstrap/scss/bootstrap.scss";

.btn-warning {
    border-bottom: 3px solid rgba(0, 0, 0, 27%);
}